@import '../theme.less';

.ant-divider-inner-text {
	font-size: 12px;
}
.ant-form-item {
	margin-bottom: 16px;
}
.signupContainer {
	height: calc(100vh - 49px);
}
.listFeed{
  margin-top: 54px;
  padding-bottom: 54px;
}
.listDetails{
  margin-top: 54px;
  padding-bottom: 72px;
}

.favouriteList{
  margin-top: 54px;
}

.bookmarkList{
  margin-top: 48px;
}

.myProfile{
  margin-top: 54px;
}

.myComments{
  margin-top: 54px;
}

.accountsettings{
  margin-top: 54px;
}

.myMessages{
  margin-top: 54px;
}

.bookmarkDetails{
  margin-top: 54px;
}

.searchList{
  margin-top: 54px;
}

.createList{
  margin-top: 54px;
}

.listInitial{
  margin-top: 54px;
  padding-bottom: 54px;
}
.createListItem{
  margin-top: 54px;
}
.notifications{
  margin-top: 54px;
}

.messageBody{
  margin-top: 54px;
}

.ant-tabs-tab{
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.ant-tabs-nav-list{
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.navBar{
  .Applogo {
    width: 36px;
  }
  .navAvatarImgWrap{
    width:36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    .navAvatarImg{
      width: 100%;
      height: auto;
    }
  }
}

.ant-select-dropdown{
  min-width: 200px !Important;
}

.lineInput{
  &:hover{
    box-shadow: none !Important;
  }
  &:focus{
    box-shadow: none;
  }
  &:active{
    box-shadow:none;
  }
}



/* ============================ listfeed screen styles ============================== */

.listFeedCard{
  .ant-card-body {
    padding: 16px;
    .cardHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .cardHeadLeft {
        .avatarWrap{
          width: 40px;
          height: 40px;
          overflow: hidden;
          border-radius: 50%;
          .cardImg {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .cardAction{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .cardActionLeft{
        display:flex;
        flex-direction: row;
      }
      .cardActionRight{
        cursor: pointer;
      }
    }
    .cardExpert {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      .cardExpertLeft {
        .facepile {
          display: flex;
          flex-direction: row;
          .cardImgWrap {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: @blue-6;
            color:@white;
            &:not(:first-child) {
              margin-left: -8px;
            }
            .cardImg {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .listFeedCard{
    .ant-card-body{
      .cardBody{
        .title{
          font-size: 18px;
        }
        .cardBodyImgWrap{
          height: auto;
        }
      }
    }
  }
}
/* ============================ end of listfeed screen styles ============================== */

/* ============================ list details screen styles ============================== */

.listDetails{
  .detailsHead{
    .detailsHeadImgWrap{
      width:48px;
      height:48px;
      border-radius: 50%;
      overflow: hidden;
      .cardImg{
        width: 100%;
        height: auto;
      }
    }
  }
  .detailsPrimaryCard{
    .ant-card-body{
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .cardBodyImgWrap{
      height: initial;
      overflow: hidden;
    }
    .cardExpert {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      .cardExpertLeft {
        .facepile {
          display: flex;
          flex-direction: row;
          .cardImgWrap {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: @blue-6;
            color:@white;
            &:not(:first-child) {
              margin-left: -8px;
            }
            .cardImg {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
    .cardAction{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .cardActionLeft{
        display:flex;
        flex-direction: row;
        span{
          cursor: pointer;
        }
      }
    }
  }
  .detailsSecondaryCard{
    .cardBodyImgWrap {
      width:48px;
      height: 48px;
      overflow: hidden;
    }
  }
}

@media (max-width: 576px){
  .detailsHeadLeft{
    h4{
      font-size: 16px;
    }
  }
  .listDetails{
    .detailsPrimaryCard{
      .cardBodyImgWrap{
        max-height: 300px;
        overflow: hidden;
      }
    }
  }
  
}

@media (max-width:350px) {
  .listDetails{
    .cardActionRight{
      flex-grow: 1;
      .cardActionRightInner{
        justify-content: space-between;
      }
    }
    .cardActionLeft{
      flex-grow: 1;
      justify-content: space-between;
    }
  }
}

/* ============================ end of list details screen styles ============================== */



/* bookmark details */
.bookmarkDetails{
  .detailsSecondaryCard{
    .cardBodyImgWrap {
      width:48px;
      height: 48px;
      overflow: hidden;
      position: relative;
    }
  }
}

/* end */


/* ============================ favourtires ======================================= */ 
.favouriteList{
  .cardBodyImgWrap{
    width:72px;
    height:72px;
    overflow: hidden;
    position: relative;
  }
  .favOverlay{
    width: 72px;
    height: 72px;
    position:absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    color:#fff;
  }
  
}
/* =========================== end of favorites UI =============================== */


/* ====== My profile =====*/

.myProfile{
  .myProfileAvatarWrap{
    width:48px;
    height:48px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    .myProfileAvatar{
      width:48px;
      height:48px;
      flex-shrink: 0;
    }
  }
  .ant-tabs-nav{
    margin-bottom: 0px !important;
    width: 75%;
    
  }
  
  .myProfileMore{
    border-bottom:1px solid @neutral-2;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    top:0px;
    right: 0px;
    height: 46px;
  }
  .moreOptions{
    .ant-tabs-ink-bar{
      background-color: transparent;
    }
  }
  .customSecondaryBar{
    position: relative;
    .ant-btn{
      border: none !Important;
      box-shadow: none !important;
    }
  }
  .detailsSecondaryCard{
    .cardBodyImgWrap {
      width:72px;
      height: 72px;
      overflow: hidden;
      position: relative;
    }
    .favOverlay{
      width: 72px;
      height: 72px;
      position:absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.25);
      color:#fff;
    }
  }
}

/* my comments */

.myComments{
  .myProfileAvatarWrap{
    width:48px;
    height:48px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    .myProfileAvatar{
      width:48px;
      height:48px;
      flex-shrink: 0;
    }
  }
  .ant-tabs-nav{
    margin-bottom: 0px !important;
    width: 75%;
    
  }
  
  .myProfileMore{
    border-bottom:1px solid @neutral-2;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25%;
    top:0px;
    right: 0px;
    height: 46px;
  }
  .moreOptions{
    .ant-tabs-ink-bar{
      background-color: transparent;
    }
  }
  .customSecondaryBar{
    position: relative;
    .ant-btn{
      border: none !Important;
      box-shadow: none !important;
    }
  }
  .detailsSecondaryCard{
    .cardBodyImgWrap {
      width:48px;
      height: 48px;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
    }
  }
}


/* Account settings */

.accountsettings{
  .myProfileAvatarWrap{
    width:48px;
    height:48px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    .myProfileAvatar{
      width:48px;
      height:48px;
      flex-shrink: 0;
    }
  }
  .settingMenu{
    cursor: pointer;
  }
}


/* myMessages */
.myMessages{
  .detailsSecondaryCard{
    .cardBodyImgWrap{
      width:48px;
      height:48px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

/* end mymessages */

/* start searchresults */

.searchList{
  .detailsSecondaryCard{
    .cardBodyImgWrap {
      width:72px;
      height: 72px;
      overflow: hidden;
    }
  }
}

/* create list */
.createList{
  .createListWrap{
    height: calc(100vh - 110px);
  }
  .listDescription{
    flex:1;
  }
}

/* list initial */

.listInitial{
  .cardBodyImgWrap{
    width:72px;
    height:72px;
    overflow: hidden;
    position: relative;
  }
  .favOverlay{
    width: 72px;
    height: 72px;
    position:absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    color:#fff;
  }
}

/* */

.createListItem{
  .inputLG{
    .ant-select-selector{
      height: 48px;
      display: flex;
      align-items: center;
    }
  }
  .border-x-0{
    .ant-select-selector{
      border-top: 0px;
      border-left:0px;
      border-right:0px;
    }
  }
  .createListItemWrap{
    height: calc(100vh - 58px);
  }
  .listDescription{
    flex:1;
  }
}


/**/

.notifications{
  .detailsSecondaryCard{
    .cardBodyImgWrap {
      width:48px;
      height: 48px;
      overflow: hidden;
      position: relative;
      border-radius: 50%;
    }
  }
}

/**/

.compose-textarea{
	textarea{
		border-top:0px;
		border-right:0px;
		border-bottom:0px;
		border-left:0px;
		resize: none;
	}
}

.compose-send{
  width: 52px;
  border-left: 1px solid @neutral-2;
}

.messageBody{
  .sentMessage{
    max-width: 300px;
    background-color: @blue-6;
    color:@neutral-1;
    border-radius: 8px;
    padding:8px 12px 8px 12px;
  }
  .recivedMessage{
    max-width: 300px;
    background-color: @neutral-3;
    border-radius: 8px;
    padding:8px 12px 8px 12px;
  }
}

.messageContent{
  .rowSetter{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }
  .rowSetter:nth-child(odd){
    flex-direction: row-reverse;
  }
}